<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.xam_proyectitm" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:label="XAM_ProyectITM.Android" android:theme="@style/MainTheme" android:usesCleartextTraffic="true" android:allowBackup="true">
		<provider android:name="android.support.v4.content.FileProvider" 
      android:authorities="${applicationId}.provider" 
			android:grantUriPermissions="true"
			android:exported="false">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@drawable/paths" />
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>